<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mjzz_btn_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,626},{330,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,102}}</string>
                <key>sourceSize</key>
                <string>{330,102}</string>
            </dict>
            <key>mjzz_btn_gray01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1112},{242,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,86}}</string>
                <key>sourceSize</key>
                <string>{242,86}</string>
            </dict>
            <key>mjzz_btn_gray03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1200},{184,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,76}}</string>
                <key>sourceSize</key>
                <string>{184,76}</string>
            </dict>
            <key>mjzz_btn_gray03_lq.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1640},{86,40}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,14},{86,40}}</string>
                <key>sourceSize</key>
                <string>{184,76}</string>
            </dict>
            <key>mjzz_btn_gray03_qwc.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1244},{110,40}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,14},{110,40}}</string>
                <key>sourceSize</key>
                <string>{184,76}</string>
            </dict>
            <key>mjzz_btn_gray03_yjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,292},{108,40}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,14},{108,40}}</string>
                <key>sourceSize</key>
                <string>{184,76}</string>
            </dict>
            <key>mjzz_btn_gray04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1911},{124,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,54}}</string>
                <key>sourceSize</key>
                <string>{124,54}</string>
            </dict>
            <key>mjzz_btn_gray04_whd.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1028},{77,29}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,9},{77,29}}</string>
                <key>sourceSize</key>
                <string>{123,53}</string>
            </dict>
            <key>mjzz_btn_gray_mrzl.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,944},{172,42}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,24},{172,42}}</string>
                <key>sourceSize</key>
                <string>{330,102}</string>
            </dict>
            <key>mjzz_btn_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{478,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{478,146}}</string>
                <key>sourceSize</key>
                <string>{480,146}</string>
            </dict>
            <key>mjzz_btn_green01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1024},{242,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,86}}</string>
                <key>sourceSize</key>
                <string>{242,86}</string>
            </dict>
            <key>mjzz_btn_green01_dl.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,570},{94,42}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,17},{94,42}}</string>
                <key>sourceSize</key>
                <string>{242,86}</string>
            </dict>
            <key>mjzz_btn_green01_lq.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,526},{94,42}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,17},{94,42}}</string>
                <key>sourceSize</key>
                <string>{242,86}</string>
            </dict>
            <key>mjzz_btn_green01_sblq.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1024},{172,34}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,20},{172,34}}</string>
                <key>sourceSize</key>
                <string>{242,86}</string>
            </dict>
            <key>mjzz_btn_green01_tj.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1286},{92,42}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,17},{92,42}}</string>
                <key>sourceSize</key>
                <string>{242,86}</string>
            </dict>
            <key>mjzz_btn_green01_wzdl.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1060},{160,42}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,18},{160,42}}</string>
                <key>sourceSize</key>
                <string>{242,86}</string>
            </dict>
            <key>mjzz_btn_green01_zb.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,1752},{94,42}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,16},{94,42}}</string>
                <key>sourceSize</key>
                <string>{242,86}</string>
            </dict>
            <key>mjzz_btn_green01_zlyc.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,988},{172,34}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,20},{172,34}}</string>
                <key>sourceSize</key>
                <string>{242,86}</string>
            </dict>
            <key>mjzz_btn_green02.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{330,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,102}}</string>
                <key>sourceSize</key>
                <string>{330,102}</string>
            </dict>
            <key>mjzz_btn_green02_wzdl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1502},{200,52}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,17},{200,52}}</string>
                <key>sourceSize</key>
                <string>{330,102}</string>
            </dict>
            <key>mjzz_btn_green03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1356},{182,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{182,76}}</string>
                <key>sourceSize</key>
                <string>{184,76}</string>
            </dict>
            <key>mjzz_btn_green03_hc.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1454},{84,38}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,14},{84,38}}</string>
                <key>sourceSize</key>
                <string>{184,76}</string>
            </dict>
            <key>mjzz_btn_green03_lq.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1372},{84,40}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,13},{84,40}}</string>
                <key>sourceSize</key>
                <string>{184,76}</string>
            </dict>
            <key>mjzz_btn_green03_qwc.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1202},{110,40}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,13},{110,40}}</string>
                <key>sourceSize</key>
                <string>{184,76}</string>
            </dict>
            <key>mjzz_btn_green03_wzdl.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1104},{146,40}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,13},{146,40}}</string>
                <key>sourceSize</key>
                <string>{184,76}</string>
            </dict>
            <key>mjzz_btn_green04.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,730},{310,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,120}}</string>
                <key>sourceSize</key>
                <string>{310,120}</string>
            </dict>
            <key>mjzz_btn_green_ksks.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,2},{288,72}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,31},{288,72}}</string>
                <key>sourceSize</key>
                <string>{480,146}</string>
            </dict>
            <key>mjzz_btn_yellow01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,936},{242,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,86}}</string>
                <key>sourceSize</key>
                <string>{242,86}</string>
            </dict>
            <key>mjzz_btn_yellow01_qd.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,570},{92,42}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,17},{92,42}}</string>
                <key>sourceSize</key>
                <string>{242,86}</string>
            </dict>
            <key>mjzz_btn_yellow01_qx.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,526},{92,42}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,17},{92,42}}</string>
                <key>sourceSize</key>
                <string>{242,86}</string>
            </dict>
            <key>mjzz_btn_yellow02.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,522},{330,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,102}}</string>
                <key>sourceSize</key>
                <string>{330,102}</string>
            </dict>
            <key>mjzz_btn_yellow02_ksp.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,898},{194,44}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,23},{194,44}}</string>
                <key>sourceSize</key>
                <string>{330,102}</string>
            </dict>
            <key>mjzz_btn_yellow02_mrzl.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,482},{172,42}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,24},{172,42}}</string>
                <key>sourceSize</key>
                <string>{330,102}</string>
            </dict>
            <key>mjzz_btn_yellow02_rz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1967},{116,52}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,16},{116,52}}</string>
                <key>sourceSize</key>
                <string>{330,102}</string>
            </dict>
            <key>mjzz_btn_yellow02_sblq.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,852},{220,44}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,22},{220,44}}</string>
                <key>sourceSize</key>
                <string>{330,102}</string>
            </dict>
            <key>mjzz_btn_yellow03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1278},{182,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{182,76}}</string>
                <key>sourceSize</key>
                <string>{184,76}</string>
            </dict>
            <key>mjzz_btn_yellow03_ck.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1414},{84,38}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,14},{84,38}}</string>
                <key>sourceSize</key>
                <string>{184,76}</string>
            </dict>
            <key>mjzz_btn_yellow03_lq.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1330},{84,40}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,13},{84,40}}</string>
                <key>sourceSize</key>
                <string>{184,76}</string>
            </dict>
            <key>mjzz_btn_yellow03_sy.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1372},{82,40}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,12},{82,40}}</string>
                <key>sourceSize</key>
                <string>{184,76}</string>
            </dict>
            <key>mjzz_btn_yellow04.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1146},{124,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,54}}</string>
                <key>sourceSize</key>
                <string>{124,54}</string>
            </dict>
            <key>mjzz_btn_yellow04_gh.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1522},{59,27}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,10},{59,27}}</string>
                <key>sourceSize</key>
                <string>{123,53}</string>
            </dict>
            <key>mjzz_jysj_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,522},{70,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,50}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>mjzz_lobby_box_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{670,518}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{670,518}}</string>
                <key>sourceSize</key>
                <string>{670,518}</string>
            </dict>
            <key>mjzz_lobby_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,944},{68,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,82}}</string>
                <key>sourceSize</key>
                <string>{68,82}</string>
            </dict>
            <key>mjzz_lobby_d03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{278,412}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,412}}</string>
                <key>sourceSize</key>
                <string>{278,412}</string>
            </dict>
            <key>mjzz_lobby_gou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1556},{120,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,124}}</string>
                <key>sourceSize</key>
                <string>{120,124}</string>
            </dict>
            <key>mjzz_lobby_hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,292},{26,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>mjzz_lobby_icon_jb.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1200},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>mjzz_lobby_icon_zs.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1258},{56,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,50}}</string>
                <key>sourceSize</key>
                <string>{56,50}</string>
            </dict>
            <key>mjzz_lobby_tips_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1805},{102,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,104}}</string>
                <key>sourceSize</key>
                <string>{102,104}</string>
            </dict>
            <key>mjzz_lobby_title_ts.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,852},{94,42}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,10},{94,42}}</string>
                <key>sourceSize</key>
                <string>{322,72}</string>
            </dict>
            <key>mjzz_lobby_ts_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1682},{123,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,121}}</string>
                <key>sourceSize</key>
                <string>{123,121}</string>
            </dict>
            <key>mjzz_set_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,334},{88,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,130}}</string>
                <key>sourceSize</key>
                <string>{88,130}</string>
            </dict>
            <key>mjzz_svip_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1414},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>mjzz_ty_tytx.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1310},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>mjzz_vip_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1556},{76,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,82}}</string>
                <key>sourceSize</key>
                <string>{76,82}</string>
            </dict>
            <key>mjzz_vip_lb_txk.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1494},{70,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,26}}</string>
                <key>sourceSize</key>
                <string>{70,26}</string>
            </dict>
            <key>mjzz_xf_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,1682},{82,68}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{82,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>mjzz_yxl_btn_ylq.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1434},{192,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,66}}</string>
                <key>sourceSize</key>
                <string>{192,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common_res.png</string>
            <key>size</key>
            <string>{1000,2021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f073d9ddb962434db99b94fcfd847d3$</string>
            <key>textureFileName</key>
            <string>common_res.png</string>
        </dict>
    </dict>
</plist>
