<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mj_prop_chip_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,148},{144,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{144,152}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>mjzz_prop_2001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{142,152}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{142,152}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>mjzz_prop_2002.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,526},{114,122}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{114,122}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>mjzz_prop_2011.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,148},{144,152}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{144,152}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>mjzz_prop_2012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{114,122}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{114,122}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>mjzz_prop_2501.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{144,152}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{144,152}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>mjzz_prop_2502.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,526},{114,122}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{114,122}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>mjzz_prop_2511.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{144,152}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{144,152}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>mjzz_prop_2512.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,410},{114,122}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{114,122}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>mjzz_prop_501.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,294},{88,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,8},{88,114}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>mjzz_prop_502.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{114,122}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{114,122}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>mjzz_prop_503.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,410},{114,128}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{114,128}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>mjzz_prop_504.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,294},{114,130}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{114,130}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>mjzz_prop_505.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,294},{114,128}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{114,128}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>mjzz_prop_506.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{144,152}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{144,152}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>mjzz_prop_507.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,152}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{144,152}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mjzz_main_prop.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0363e9cf3dab69261d108c2cfb3c3d87$</string>
            <key>textureFileName</key>
            <string>mjzz_main_prop.png</string>
        </dict>
    </dict>
</plist>
