<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mjzz_dt_rw_bzhy.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,358},{90,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{90,22}}</string>
                <key>sourceSize</key>
                <string>{94,26}</string>
            </dict>
            <key>mjzz_dt_rw_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{330,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{330,400}}</string>
                <key>sourceSize</key>
                <string>{332,400}</string>
            </dict>
            <key>mjzz_dt_rw_dz.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,404},{158,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,150}}</string>
                <key>sourceSize</key>
                <string>{158,150}</string>
            </dict>
            <key>mjzz_dt_rw_dz_zz.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,558},{158,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,150}}</string>
                <key>sourceSize</key>
                <string>{158,150}</string>
            </dict>
            <key>mjzz_dt_rw_icon_hy.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,336},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>mjzz_dt_rw_jl.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,860},{100,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,132}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>mjzz_dt_rw_jrhy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>mjzz_dt_rw_rjd.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,336},{532,23}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{532,23}}</string>
                <key>sourceSize</key>
                <string>{538,29}</string>
            </dict>
            <key>mjzz_dt_rw_rjd_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{534,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{534,25}}</string>
                <key>sourceSize</key>
                <string>{538,29}</string>
            </dict>
            <key>mjzz_dt_rw_rjd_wc.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{48,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,52}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>mjzz_dt_rw_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,404},{152,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,36}}</string>
                <key>sourceSize</key>
                <string>{152,36}</string>
            </dict>
            <key>mjzz_dt_rw_zhy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{632,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,332}}</string>
                <key>sourceSize</key>
                <string>{632,332}</string>
            </dict>
            <key>mjzz_dt_rw_zjd.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,302},{246,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{246,40}}</string>
                <key>sourceSize</key>
                <string>{252,46}</string>
            </dict>
            <key>mjzz_dt_rw_zjd_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,52},{248,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{248,42}}</string>
                <key>sourceSize</key>
                <string>{252,46}</string>
            </dict>
            <key>mjzz_dt_rwd.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,404},{300,138}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,138}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>mjzz_rw_ywc_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,718},{140,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,100}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_task.png</string>
            <key>size</key>
            <string>{1022,994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90c49f197fb886ce3d06a646eb829d97$</string>
            <key>textureFileName</key>
            <string>hall_task.png</string>
        </dict>
    </dict>
</plist>
