<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mjzz_lobby_btn_zj.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,191},{58,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,54}}</string>
                <key>sourceSize</key>
                <string>{58,54}</string>
            </dict>
            <key>mjzz_lobby_dj.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,123},{38,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,26}}</string>
                <key>sourceSize</key>
                <string>{38,26}</string>
            </dict>
            <key>mjzz_lobby_dj_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,17},{180,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,30}}</string>
                <key>sourceSize</key>
                <string>{180,30}</string>
            </dict>
            <key>mjzz_lobby_dj_jdt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{86,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,24}}</string>
                <key>sourceSize</key>
                <string>{86,24}</string>
            </dict>
            <key>mjzz_lobby_dj_jdt_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,180},{86,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,22}}</string>
                <key>sourceSize</key>
                <string>{86,24}</string>
            </dict>
            <key>mjzz_lobby_gd_sl_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,228},{118,502}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,502}}</string>
                <key>sourceSize</key>
                <string>{118,502}</string>
            </dict>
            <key>mjzz_lobby_gg_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,180},{586,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,46}}</string>
                <key>sourceSize</key>
                <string>{586,46}</string>
            </dict>
            <key>mjzz_lobby_gg_d01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{586,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,46}}</string>
                <key>sourceSize</key>
                <string>{586,46}</string>
            </dict>
            <key>mjzz_lobby_gg_icon_lb.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,83},{38,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,32}}</string>
                <key>sourceSize</key>
                <string>{38,32}</string>
            </dict>
            <key>mjzz_lobby_gg_icon_lb02.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,49},{36,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,32}}</string>
                <key>sourceSize</key>
                <string>{38,32}</string>
            </dict>
            <key>mjzz_lobby_icon_bb.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,457},{124,122}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{124,122}}</string>
                <key>sourceSize</key>
                <string>{124,130}</string>
            </dict>
            <key>mjzz_lobby_icon_dj.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,191},{140,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,142}}</string>
                <key>sourceSize</key>
                <string>{140,142}</string>
            </dict>
            <key>mjzz_lobby_icon_fx.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,629},{124,122}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{124,122}}</string>
                <key>sourceSize</key>
                <string>{124,130}</string>
            </dict>
            <key>mjzz_lobby_icon_gg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{66,96}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{66,96}}</string>
                <key>sourceSize</key>
                <string>{70,98}</string>
            </dict>
            <key>mjzz_lobby_icon_hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,49},{140,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,142}}</string>
                <key>sourceSize</key>
                <string>{140,142}</string>
            </dict>
            <key>mjzz_lobby_icon_kf.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,333},{122,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,130}}</string>
                <key>sourceSize</key>
                <string>{124,130}</string>
            </dict>
            <key>mjzz_lobby_icon_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,505},{124,122}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{124,122}}</string>
                <key>sourceSize</key>
                <string>{124,130}</string>
            </dict>
            <key>mjzz_lobby_icon_phb.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,348},{92,94}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{92,94}}</string>
                <key>sourceSize</key>
                <string>{116,110}</string>
            </dict>
            <key>mjzz_lobby_icon_qd.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,254},{68,94}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,15},{68,94}}</string>
                <key>sourceSize</key>
                <string>{116,110}</string>
            </dict>
            <key>mjzz_lobby_icon_rw.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,383},{120,130}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,130}}</string>
                <key>sourceSize</key>
                <string>{124,130}</string>
            </dict>
            <key>mjzz_lobby_icon_rz.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,102},{68,98}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,98}}</string>
                <key>sourceSize</key>
                <string>{70,98}</string>
            </dict>
            <key>mjzz_lobby_icon_svip.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,441},{94,96}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{94,96}}</string>
                <key>sourceSize</key>
                <string>{116,110}</string>
            </dict>
            <key>mjzz_lobby_icon_sz.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,2},{68,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,98}}</string>
                <key>sourceSize</key>
                <string>{70,98}</string>
            </dict>
            <key>mjzz_lobby_icon_xyzp.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,755},{116,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{116,108}}</string>
                <key>sourceSize</key>
                <string>{116,110}</string>
            </dict>
            <key>mjzz_lobby_icon_yxl.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,173},{74,94}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,16},{74,94}}</string>
                <key>sourceSize</key>
                <string>{116,110}</string>
            </dict>
            <key>mjzz_lobby_icon_zp.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,333},{106,94}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,16},{106,94}}</string>
                <key>sourceSize</key>
                <string>{116,110}</string>
            </dict>
            <key>mjzz_lobby_id_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,269},{112,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,102}}</string>
                <key>sourceSize</key>
                <string>{112,102}</string>
            </dict>
            <key>mjzz_lobby_rk_cw.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,202},{72,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,50}}</string>
                <key>sourceSize</key>
                <string>{72,50}</string>
            </dict>
            <key>mjzz_lobby_txk.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,873},{112,110}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,110}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>mjzz_lobby_x_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{720,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,176}}</string>
                <key>sourceSize</key>
                <string>{720,176}</string>
            </dict>
            <key>mjzz_lobby_xx_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,17},{154,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,44}}</string>
                <key>sourceSize</key>
                <string>{154,44}</string>
            </dict>
            <key>mjzz_lobby_zz.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{13,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,226}}</string>
                <key>sourceSize</key>
                <string>{13,226}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_main_ui.png</string>
            <key>size</key>
            <string>{1022,987}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fa82dc02ff6667e1de09bdeb84e7295$</string>
            <key>textureFileName</key>
            <string>hall_main_ui.png</string>
        </dict>
    </dict>
</plist>
