<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mjzz_hd_bj_db_ybwl.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{174,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,112}}</string>
                <key>sourceSize</key>
                <string>{174,112}</string>
            </dict>
            <key>mjzz_hd_bt_db.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1290},{628,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,70}}</string>
                <key>sourceSize</key>
                <string>{628,70}</string>
            </dict>
            <key>mjzz_hd_bt_dbh.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{2,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,60}}</string>
                <key>sourceSize</key>
                <string>{2,60}</string>
            </dict>
            <key>mjzz_hd_bt_xzdb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,70}}</string>
                <key>sourceSize</key>
                <string>{318,70}</string>
            </dict>
            <key>mjzz_hd_bt_xzdb_tm.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{318,70}</string>
            </dict>
            <key>mjzz_hd_btn2_d01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{288,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,118}}</string>
                <key>sourceSize</key>
                <string>{288,118}</string>
            </dict>
            <key>mjzz_hd_btn2_d02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{288,116}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,116}}</string>
                <key>sourceSize</key>
                <string>{288,118}</string>
            </dict>
            <key>mjzz_hd_btn_d01.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,150},{198,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,118}}</string>
                <key>sourceSize</key>
                <string>{198,118}</string>
            </dict>
            <key>mjzz_hd_btn_d02.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,270},{198,116}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,116}}</string>
                <key>sourceSize</key>
                <string>{198,118}</string>
            </dict>
            <key>mjzz_hd_btn_rc01.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,572},{174,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,39},{174,42}}</string>
                <key>sourceSize</key>
                <string>{288,118}</string>
            </dict>
            <key>mjzz_hd_btn_rc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,616},{172,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,37},{172,42}}</string>
                <key>sourceSize</key>
                <string>{288,118}</string>
            </dict>
            <key>mjzz_hd_btn_xs01.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,528},{174,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,37},{174,42}}</string>
                <key>sourceSize</key>
                <string>{288,118}</string>
            </dict>
            <key>mjzz_hd_btn_xs02.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,484},{174,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,37},{174,42}}</string>
                <key>sourceSize</key>
                <string>{288,118}</string>
            </dict>
            <key>mjzz_hd_btn_xshd02.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,484},{174,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,42}}</string>
                <key>sourceSize</key>
                <string>{174,42}</string>
            </dict>
            <key>mjzz_hd_rzhd.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,436},{192,46}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{192,46}}</string>
                <key>sourceSize</key>
                <string>{198,46}</string>
            </dict>
            <key>mjzz_hd_tt_db.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,660},{628,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,70}}</string>
                <key>sourceSize</key>
                <string>{628,70}</string>
            </dict>
            <key>mjzz_hd_xshd.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,388},{196,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{196,46}}</string>
                <key>sourceSize</key>
                <string>{198,46}</string>
            </dict>
            <key>mjzz_hd_ylq.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,660},{126,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,90}}</string>
                <key>sourceSize</key>
                <string>{126,90}</string>
            </dict>
            <key>mjzz_hdgg_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,752},{106,1186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,1186}}</string>
                <key>sourceSize</key>
                <string>{106,1186}</string>
            </dict>
            <key>mjzz_hdgg_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{720,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,282}}</string>
                <key>sourceSize</key>
                <string>{720,282}</string>
            </dict>
            <key>mjzz_rw_jdt01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1034},{260,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,40}}</string>
                <key>sourceSize</key>
                <string>{260,40}</string>
            </dict>
            <key>mjzz_rw_jdt02.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,116},{218,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,5},{218,32}}</string>
                <key>sourceSize</key>
                <string>{260,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_activity.png</string>
            <key>size</key>
            <string>{512,1940}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f4d080ac776bb09488c0b9a3b934821$</string>
            <key>textureFileName</key>
            <string>hall_activity.png</string>
        </dict>
    </dict>
</plist>
