<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mjzz_btn_gray01_djwd.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,128},{160,42}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,17},{160,42}}</string>
                <key>sourceSize</key>
                <string>{242,86}</string>
            </dict>
            <key>mjzz_btn_green01_lqjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,84},{162,42}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,17},{162,42}}</string>
                <key>sourceSize</key>
                <string>{242,86}</string>
            </dict>
            <key>mjzz_vip_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,172},{144,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,58}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>mjzz_vip_btn_svip.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,647},{74,32}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,9},{74,32}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>mjzz_vip_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,916},{662,1091}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{662,1091}}</string>
                <key>sourceSize</key>
                <string>{662,1091}</string>
            </dict>
            <key>mjzz_vip_dh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{669,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{669,308}}</string>
                <key>sourceSize</key>
                <string>{669,308}</string>
            </dict>
            <key>mjzz_vip_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,232},{522,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,126}}</string>
                <key>sourceSize</key>
                <string>{522,126}</string>
            </dict>
            <key>mjzz_vip_dj_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,341},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>mjzz_vip_dj_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,310},{105,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,29}}</string>
                <key>sourceSize</key>
                <string>{105,29}</string>
            </dict>
            <key>mjzz_vip_green01_ylq.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{240,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{240,80}}</string>
                <key>sourceSize</key>
                <string>{242,86}</string>
            </dict>
            <key>mjzz_vip_jdt_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,385},{322,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,38}}</string>
                <key>sourceSize</key>
                <string>{322,38}</string>
            </dict>
            <key>mjzz_vip_jdt_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,709},{312,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{312,32}}</string>
                <key>sourceSize</key>
                <string>{322,38}</string>
            </dict>
            <key>mjzz_vip_jt_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,212},{62,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,116}}</string>
                <key>sourceSize</key>
                <string>{62,116}</string>
            </dict>
            <key>mjzz_vip_lb.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,681},{68,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,32}}</string>
                <key>sourceSize</key>
                <string>{68,32}</string>
            </dict>
            <key>mjzz_vip_lb_vip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,613},{82,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{82,32}}</string>
                <key>sourceSize</key>
                <string>{108,32}</string>
            </dict>
            <key>mjzz_vip_lb_vip10.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,276},{108,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,32}}</string>
                <key>sourceSize</key>
                <string>{108,32}</string>
            </dict>
            <key>mjzz_vip_lb_vip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,579},{90,32}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{90,32}}</string>
                <key>sourceSize</key>
                <string>{108,32}</string>
            </dict>
            <key>mjzz_vip_lb_vip3.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,545},{90,32}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{90,32}}</string>
                <key>sourceSize</key>
                <string>{108,32}</string>
            </dict>
            <key>mjzz_vip_lb_vip4.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,511},{90,32}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{90,32}}</string>
                <key>sourceSize</key>
                <string>{108,32}</string>
            </dict>
            <key>mjzz_vip_lb_vip5.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,477},{90,32}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{90,32}}</string>
                <key>sourceSize</key>
                <string>{108,32}</string>
            </dict>
            <key>mjzz_vip_lb_vip6.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,443},{90,32}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{90,32}}</string>
                <key>sourceSize</key>
                <string>{108,32}</string>
            </dict>
            <key>mjzz_vip_lb_vip7.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,409},{90,32}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{90,32}}</string>
                <key>sourceSize</key>
                <string>{108,32}</string>
            </dict>
            <key>mjzz_vip_lb_vip8.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,375},{90,32}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{90,32}}</string>
                <key>sourceSize</key>
                <string>{108,32}</string>
            </dict>
            <key>mjzz_vip_lb_vip9.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,341},{90,32}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{90,32}}</string>
                <key>sourceSize</key>
                <string>{108,32}</string>
            </dict>
            <key>mjzz_vip_xxd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,2},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>mjzz_vip_ylq.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,84},{126,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,90}}</string>
                <key>sourceSize</key>
                <string>{126,90}</string>
            </dict>
            <key>mjzz_vip_z.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{602,754}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,754}}</string>
                <key>sourceSize</key>
                <string>{602,754}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mjzz_vip_privilege.png</string>
            <key>size</key>
            <string>{1022,2009}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b0b81758edc80d74b11090cec4db97b$</string>
            <key>textureFileName</key>
            <string>mjzz_vip_privilege.png</string>
        </dict>
    </dict>
</plist>
